@charset "UTF-8";

.certificados img {
    box-shadow: 2px 2px 4px #000000; 
    width:590px; 
    height:400px;
    bottom: 20px;
}
.certificados img#c01 {
    background: url('../imagens/php.png') no-repeat;
    bottom: 20px;
    float:left;
    margin-left:75px;
}
.certificados img#c02 {
    background: url('../imagens/phpoo.png') no-repeat;
    bottom: 20px;
    float:left; 
    margin-left:10px;
}
.certificados img#c03 {
    background: url('../imagens/html5.png') no-repeat;
    bottom: 20px;
    float:left; 
    margin-left:75px;
    margin-top: 20px;
}

.certificados{
    text-align: center;
    color:#FFF; 
    text-shadow: 2px 2px 4px #000000;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-color: 3px solid #FFF;
}


ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #23679d;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in;
}

ul#album-fotos li span {
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
    background-color: rgba(0,0,0,.3);
}

ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span {
    opacity: 1;
}


ul#album-fotos li#foto01 {
    background: url('../imagens/galeria-01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
    background: url('../imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
    background: url('../imagens/galeria-03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
    background: url('../imagens/galeria-04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
    background: url('../imagens/galeria-05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
    background: url('../imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto07 {
    background: url('../imagens/galeria-07.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto07:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto08 {
    background: url('../imagens/galeria-08.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto08:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto09 {
    background: url('../imagens/galeria-09.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#album-fotos li#foto09:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


@media (max-width: 768px) {

  ul#album-fotos li#foto01 {
    margin-left: 10px;
    max-width: 100%;
} 
 ul#album-fotos li#foto02 {
    margin-top: 240px;
    margin-left: -220px;
    max-width: 100%;
} 
 ul#album-fotos li#foto03 {
    margin-top: 470px;
    margin-left: -220px;
    max-width: 100%;
}
 ul#album-fotos li#foto04 {
    margin-left: 10px;
    max-width: 100%;
} 
 ul#album-fotos li#foto05 {
    margin-top: 240px;
    margin-left: -220px;
    max-width: 100%;
} 
 ul#album-fotos li#foto06 {
    margin-top: 470px;
    margin-left: -220px;
    max-width: 100%;
} 
 ul#album-fotos li#foto07 {
    margin-left: 10px;
    max-width: 100%;
} 
 ul#album-fotos li#foto08 {
    margin-top: 240px;
    margin-left: -220px;
    max-width: 100%;
} 
 ul#album-fotos li#foto09 {
    margin-top: 470px;
    margin-left: -220px;
    max-width: 100%;
    margin-bottom: -60px;
} 
img#c01 {
    background: url('../imagens/php-min.png') no-repeat !important;   
    width:320px; 
    margin-left : 15px !important;
}
img#c02 {
    background: url('../imagens/phpoo-min.png') no-repeat !important;
    box-shadow: 2px 2px 4px #000000; 
    width:320px; 
    height:300px;
    margin-top: 20px;
    margin-left: 15px !important;
    
}
img#c03 {
    background: url('../imagens/html5-min.png') no-repeat !important;
    width:320px; 
    height:300px;
    margin-top: 20px;
    margin-left : 15px !important
}

.certificados{
    text-align: center;
    color:#FFF; 
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-color: 3px solid #FFF;
}    
}